fastapi
uvicorn
pydantic
pydantic-settings
requests
chromadb
sentence-transformers
pypdf
langchain-text-splitters
Pillow
python-multipart
opencv-python
numpy
transformers 
torch 
accelerate 
bitsandbytes